.cream {
    color: "#fffdfa";
    color: "#fff7ed";
    color: "#ffefdb";
    color: "#ffe2b9";
    color: "#ffd18f";
    color: "#ffbf65";
    color: "#e6a94f";
    color: "#b8853e";
    color: "#8a6330";
    color: "#5f4522";
    color: "#3c2a15";
}
.brown {
    color: "#fdf8f6";
    color: "#f5e8e1";
    color: "#e7cfc0";
    color: "#d1aa90";
    color: "#b37b5d";
    color: "#965737";
    color: "#7c4328";
    color: "#62341f";
    color: "#4a2718";
    color: "#2e180f";
    color: "#1a0e08";
}
